<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="he">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/PageDesign.css">
    <title>הוספת עובד</title>
    <style>
        .container{
            height: 650px;
        }
        p{
            align: "right";
        }
    body{
            overflow: auto;
        }
    </style>
    <script>
        var logOut = function() {
            fetch ("/logout", {
                method: 'POST',
                body: JSON.stringify({}), // data can be `string` or {object}!
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then ( res => {
                    window.location.href='http://localhost:3000/';
                    //window.sessionStorage.setItem(resave, true);

                })
                .catch(e => {
                    console.log("no LogOut!");
                });
        };
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("logout").addEventListener("click", logOut);
        }, false);
    </script>
</head>
<body dir="rtl">
<div align="right">
<button class="button" style="vertical-align:middle" id="logout"><span>logout </span></button></div>
<section class="container">
    <form action="/index/saveEmployee" method="POST" id="addEmployees">
        <h1 align="center">הוספת עובד</h1><br><br>
        <label  for="inputId">תעודת זהות:</label>
        <input type="text" class="form-control" name="Id" id="inputId"  placeholder="הכנס תעודת זהות">
        <p style="color: red">  <%if (error)%>
            <%=error.id%></p>
        <div class="row">
            <div class="col-md-6">
                <label for="inputFirstName">שם פרטי:</label>
                <input type="text" class="form-control" name="FirstName" id="inputFirstName"  placeholder="הכנס שם פרטי">
                <p style="color: red">  <%if (error)%>
                    <%=error.firstName%></p>
            </div>
            <div class="col-md-6">
                <label for="inputLastName">שם משפחה:</label>
                <input type="Last Name" class="form-control" name="lastName" id="inputLastName" placeholder="הכנס שם משפחה">
                <p style="color: red">  <%if (error)%>
                    <%=error.lastName%></p>
            </div>
        </div>
        <label for="inputPhoneNumber">מספר פלאפון:</label>
        <input type="text" class="form-control" name="phone" id="inputPhoneNumber" placeholder="הכנס מספר טלפון">
        <p style="color: red">  <%if (error)%>
            <%=error.phone%></p>
        <label for="inputEmail">אמייל:</label>
        <input type="text" class="form-control" id="inputEmail" name="email" placeholder="הכנס אמייל">
        <p style="color: red">  <%if (error)%>
            <%=error.email%></p>
        <div class="form-group col-md-4" style="display: inline">
            <label for="inputState">תפקיד:</label>
            <select name="state" id="inputState" class="form-control" >
                <option selected>בחר</option>
                <option>קופאי</option>
                <option>קופאי ראשי</option>
            </select>
            <p style="color: red">  <%if (error)%>
                <%=error.state%></p>
        </div>
        <div class="row">
                <button type="submit" >שמור</button></div></div>
        </div>
    </form>
</section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>